In [1]:
!pip install scikit-learn
!pip install pandas
!pip install numpy
!pip install matplotlib
!pip install seaborn

Requirement already satisfied: scikit-learn in /usr/local/lib/python3.10/dist-packages (1.3.2)
Requirement already satisfied: numpy<2.0,>=1.17.3 in /usr/local/lib/python3.10/dist-packages (from scikit-learn) (1.26.4)
Requirement already satisfied: scipy>=1.5.0 in /usr/local/lib/python3.10/dist-packages (from scikit-learn) (1.13.1)
Requirement already satisfied: joblib>=1.1.1 in /usr/local/lib/python3.10/dist-packages (from scikit-learn) (1.4.2)
Requirement already satisfied: threadpoolctl>=2.0.0 in /usr/local/lib/python3.10/dist-packages (from scikit-learn) (3.5.0)
Requirement already satisfied: pandas in /usr/local/lib/python3.10/dist-packages (2.1.4)
Requirement already satisfied: numpy<2,>=1.22.4 in /usr/local/lib/python3.10/dist-packages (from pandas) (1.26.4)
Requirement already satisfied: python-dateutil>=2.8.2 in /usr/local/lib/python3.10/dist-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.10/dist-packages (from pandas) (2024.1)
Requirement already satisfied: tzdata>=2022.1 in /usr/local/lib/python3.10/dist-packages (from pandas) (2024.1)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.10/dist-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
Requirement already satisfied: numpy in /usr/local/lib/python3.10/dist-packages (1.26.4)
Requirement already satisfied: matplotlib in /usr/local/lib/python3.10/dist-packages (3.7.1)
Requirement already satisfied: contourpy>=1.0.1 in /usr/local/lib/python3.10/dist-packages (from matplotlib) (1.2.1)
Requirement already satisfied: cycler>=0.10 in /usr/local/lib/python3.10/dist-packages (from matplotlib) (0.12.1)
Requirement already satisfied: fonttools>=4.22.0 in /usr/local/lib/python3.10/dist-packages (from matplotlib) (4.53.1)
Requirement already satisfied: kiwisolver>=1.0.1 in /usr/local/lib/python3.10/dist-packages (from matplotlib) (1.4.5)
Requirement already satisfied: numpy>=1.20 in /usr/local/lib/python3.10/dist-packages (from matplotlib) (1.26.4)
Requirement already satisfied: packaging>=20.0 in /usr/local/lib/python3.10/dist-packages (from matplotlib) (24.1)
Requirement already satisfied: pillow>=6.2.0 in /usr/local/lib/python3.10/dist-packages (from matplotlib) (9.4.0)
Requirement already satisfied: pyparsing>=2.3.1 in /usr/local/lib/python3.10/dist-packages (from matplotlib) (3.1.2)
Requirement already satisfied: python-dateutil>=2.7 in /usr/local/lib/python3.10/dist-packages (from matplotlib) (2.8.2)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.10/dist-packages (from python-dateutil>=2.7->matplotlib) (1.16.0)
Requirement already satisfied: seaborn in /usr/local/lib/python3.10/dist-packages (0.13.1)
Requirement already satisfied: numpy!=1.24.0,>=1.20 in /usr/local/lib/python3.10/dist-packages (from seaborn) (1.26.4)
Requirement already satisfied: pandas>=1.2 in /usr/local/lib/python3.10/dist-packages (from seaborn) (2.1.4)
Requirement already satisfied: matplotlib!=3.6.1,>=3.4 in /usr/local/lib/python3.10/dist-packages (from seaborn) (3.7.1)
Requirement already satisfied: contourpy>=1.0.1 in /usr/local/lib/python3.10/dist-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (1.2.1)
Requirement already satisfied: cycler>=0.10 in /usr/local/lib/python3.10/dist-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (0.12.1)
Requirement already satisfied: fonttools>=4.22.0 in /usr/local/lib/python3.10/dist-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (4.53.1)
Requirement already satisfied: kiwisolver>=1.0.1 in /usr/local/lib/python3.10/dist-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (1.4.5)
Requirement already satisfied: packaging>=20.0 in /usr/local/lib/python3.10/dist-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (24.1)
Requirement already satisfied: pillow>=6.2.0 in /usr/local/lib/python3.10/dist-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (9.4.0)
Requirement already satisfied: pyparsing>=2.3.1 in /usr/local/lib/python3.10/dist-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (3.1.2)
Requirement already satisfied: python-dateutil>=2.7 in /usr/local/lib/python3.10/dist-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.10/dist-packages (from pandas>=1.2->seaborn) (2024.1)
Requirement already satisfied: tzdata>=2022.1 in /usr/local/lib/python3.10/dist-packages (from pandas>=1.2->seaborn) (2024.1)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.10/dist-packages (from python-dateutil>=2.7->matplotlib!=3.6.1,>=3.4->seaborn) (1.16.0)

In [62]:
#importing libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [63]:
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.metrics.pairwise import cosine_similarity
import tensorflow as tf

In [64]:
data = pd.read_csv("https://gist.githubusercontent.com/jaidevd/23aef12e9bf56c618c41/raw/c05e98672b8d52fa0cb94aad80f75eb78342e5d4/books_new.csv")
df= pd.DataFrame(data)
df.head()

,Title,Author,Genre,SubGenre,Height,Publisher
0,Fundamentals of Wavelets,"Goswami, Jaideva",tech,signal_processing,228,Wiley
1,Data Smart,"Foreman, John",tech,data_science,235,Wiley
2,God Created the Integers,"Hawking, Stephen",tech,mathematics,197,Penguin
3,Superfreakonomics,"Dubner, Stephen",science,economics,179,HarperCollins
4,Orientalism,"Said, Edward",nonfiction,history,197,Penguin

In [65]:
df['Author'] = df['Author'].str.replace(',', '')
df['Author'] = df['Author'].str.replace(' ', '')
df['SubGenre'] = df['SubGenre'].str.replace('_', '')
print(df)

                            Title            Author       Genre  \
0        Fundamentals of Wavelets    GoswamiJaideva        tech
1                      Data Smart       ForemanJohn        tech
2        God Created the Integers    HawkingStephen        tech
3               Superfreakonomics     DubnerStephen     science
4                     Orientalism        SaidEdward  nonfiction
..                            ...               ...         ...
206      Structure and Randomness        TaoTerence     science
207  Image Processing with MATLAB       EddinsSteve        tech
208                   Animal Farm      OrwellGeorge     fiction
209                    Idiot, The  DostoevskyFyodor     fiction
210            Christmas Carol, A    DickensCharles     fiction

             SubGenre  Height      Publisher
0    signalprocessing     228          Wiley
1         datascience     235          Wiley
2         mathematics     197        Penguin
3           economics     179  HarperCollins
4             history     197        Penguin
..                ...     ...            ...
206       mathematics     252            NaN
207  signalprocessing     241            NaN
208           classic     180            NaN
209           classic     197            NaN
210           classic     196            NaN

[211 rows x 6 columns]

In [66]:
df['Publisher'].fillna("", inplace=True)
df['Author'].fillna("", inplace=True)
print(df)

                            Title            Author       Genre  \
0        Fundamentals of Wavelets    GoswamiJaideva        tech
1                      Data Smart       ForemanJohn        tech
2        God Created the Integers    HawkingStephen        tech
3               Superfreakonomics     DubnerStephen     science
4                     Orientalism        SaidEdward  nonfiction
..                            ...               ...         ...
206      Structure and Randomness        TaoTerence     science
207  Image Processing with MATLAB       EddinsSteve        tech
208                   Animal Farm      OrwellGeorge     fiction
209                    Idiot, The  DostoevskyFyodor     fiction
210            Christmas Carol, A    DickensCharles     fiction

             SubGenre  Height      Publisher
0    signalprocessing     228          Wiley
1         datascience     235          Wiley
2         mathematics     197        Penguin
3           economics     179  HarperCollins
4             history     197        Penguin
..                ...     ...            ...
206       mathematics     252
207  signalprocessing     241
208           classic     180
209           classic     197
210           classic     196

[211 rows x 6 columns]

In [67]:
df['Author']=df['Author']+" "+df['Genre']+" "+df['SubGenre']+" "+df['Publisher']
print(df)
df['Author']

                            Title  \
0        Fundamentals of Wavelets
1                      Data Smart
2        God Created the Integers
3               Superfreakonomics
4                     Orientalism
..                            ...
206      Structure and Randomness
207  Image Processing with MATLAB
208                   Animal Farm
209                    Idiot, The
210            Christmas Carol, A

                                            Author       Genre  \
0       GoswamiJaideva tech signalprocessing Wiley        tech
1               ForemanJohn tech datascience Wiley        tech
2          HawkingStephen tech mathematics Penguin        tech
3    DubnerStephen science economics HarperCollins     science
4            SaidEdward nonfiction history Penguin  nonfiction
..                                             ...         ...
206                TaoTerence science mathematics      science
207             EddinsSteve tech signalprocessing         tech
208                  OrwellGeorge fiction classic      fiction
209              DostoevskyFyodor fiction classic      fiction
210                DickensCharles fiction classic      fiction

             SubGenre  Height      Publisher
0    signalprocessing     228          Wiley
1         datascience     235          Wiley
2         mathematics     197        Penguin
3           economics     179  HarperCollins
4             history     197        Penguin
..                ...     ...            ...
206       mathematics     252
207  signalprocessing     241
208           classic     180
209           classic     197
210           classic     196

[211 rows x 6 columns]

0         GoswamiJaideva tech signalprocessing Wiley
1                 ForemanJohn tech datascience Wiley
2            HawkingStephen tech mathematics Penguin
3      DubnerStephen science economics HarperCollins
4              SaidEdward nonfiction history Penguin
                           ...
206                  TaoTerence science mathematics
207               EddinsSteve tech signalprocessing
208                    OrwellGeorge fiction classic
209                DostoevskyFyodor fiction classic
210                  DickensCharles fiction classic
Name: Author, Length: 211, dtype: object

In [68]:
new_df= df[['Title','Author']]
print(new_df)

                            Title  \
0        Fundamentals of Wavelets
1                      Data Smart
2        God Created the Integers
3               Superfreakonomics
4                     Orientalism
..                            ...
206      Structure and Randomness
207  Image Processing with MATLAB
208                   Animal Farm
209                    Idiot, The
210            Christmas Carol, A

                                            Author
0       GoswamiJaideva tech signalprocessing Wiley
1               ForemanJohn tech datascience Wiley
2          HawkingStephen tech mathematics Penguin
3    DubnerStephen science economics HarperCollins
4            SaidEdward nonfiction history Penguin
..                                             ...
206                TaoTerence science mathematics
207             EddinsSteve tech signalprocessing
208                  OrwellGeorge fiction classic
209              DostoevskyFyodor fiction classic
210                DickensCharles fiction classic

[211 rows x 2 columns]

In [54]:
new_df['Author'][0]

'GoswamiJaideva tech signalprocessing Wiley'

In [73]:
new_df.loc[:,'Author']=new_df['Author'].apply(lambda x:x.lower())
print(new_df)

                            Title  \
0        Fundamentals of Wavelets
1                      Data Smart
2        God Created the Integers
3               Superfreakonomics
4                     Orientalism
..                            ...
206      Structure and Randomness
207  Image Processing with MATLAB
208                   Animal Farm
209                    Idiot, The
210            Christmas Carol, A

                                            Author
0       goswamijaideva tech signalprocessing wiley
1               foremanjohn tech datascience wiley
2          hawkingstephen tech mathematics penguin
3    dubnerstephen science economics harpercollins
4            saidedward nonfiction history penguin
..                                             ...
206                taoterence science mathematics
207             eddinssteve tech signalprocessing
208                  orwellgeorge fiction classic
209              dostoevskyfyodor fiction classic
210                dickenscharles fiction classic

[211 rows x 2 columns]

In [78]:
import nltk
from nltk.stem.porter import PorterStemmer
ps = PorterStemmer()
def stem(text):
    y = []
    for i in text.split():
        y.append(ps.stem(i))
    return " ".join(y)

new_df['Author'].apply(stem)

0       goswamijaideva tech signalprocess wiley
1                foremanjohn tech datasci wiley
2          hawkingstephen tech mathemat penguin
3      dubnerstephen scienc econom harpercollin
4            saidedward nonfict histori penguin
                         ...
206                      taoter scienc mathemat
207               eddinsstev tech signalprocess
208                 orwellgeorg fiction classic
209            dostoevskyfyodor fiction classic
210                dickenscharl fiction classic
Name: Author, Length: 211, dtype: object

In [79]:
from sklearn.feature_extraction.text import CountVectorizer
cv = CountVectorizer(max_features=10000,stop_words='english')
vector = cv.fit_transform(new_df['Author']).toarray()
print(vector)

[[0 0 0 ... 0 0 0]
 [0 0 0 ... 0 0 0]
 [0 0 0 ... 0 0 0]
 ...
 [0 0 0 ... 0 0 0]
 [0 0 0 ... 0 0 0]
 [0 0 0 ... 0 0 0]]

In [80]:
vector[0]

array([0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0])

In [82]:
cv.get_feature_names_out()

array(['ackroydpeter', 'aczelamir', 'anthology', 'apress',
       'archerjeffery', 'autobiography', 'bachrichard', 'baz', 'bbc',
       'bellet', 'blackswan', 'bodanisdavid', 'bodley', 'bradskygary',
       'braithwaite', 'browndan', 'camusalbert', 'caprafritjof',
       'classic', 'comic', 'computerscience', 'conwaydrew', 'corbettjim',
       'cormenthomas', 'crc', 'crichtonmichael', 'dalrymplewilliam',
       'datascience', 'dawkinsrichard', 'debsiddhartha', 'dell',
       'deshpandepl', 'deshpandesunita', 'devlinkeith', 'dickenscharles',
       'dickinsonpeter', 'dostoevskyfyodor', 'downeyallen',
       'doylearthurconan', 'druckerpeter', 'dubnerstephen', 'dudahart',
       'durantwill', 'durrellgerald', 'dylanbob', 'economics',
       'eddinssteve', 'education', 'elsevier', 'eralyabraham',
       'feynmanrichard', 'fiction', 'fiskrobert', 'follettken', 'fontana',
       'foremanjohn', 'forsythdavid', 'forsythfrederick', 'francosergio',
       'freepress', 'friedmanthomas', 'gardnerearlestanley', 'gargsanjay',
       'ghoshamitav', 'gleickjames', 'gordonrichard', 'goswamijaideva',
       'greenew', 'grishamjohn', 'guptamadan', 'hall',
       'hansberrylorraine', 'harpercollins', 'harrissam',
       'hawkingstephen', 'haykinsimon', 'hba', 'head', 'heisenbergwerner',
       'hellerjoseph', 'hemingwayernest', 'highstakes', 'history',
       'hitleradolf', 'house', 'hugovictor', 'huntingtonsamuel',
       'huxleyaldous', 'hyperion', 'iacocalee', 'jaico', 'janertphillip',
       'kafkafrank', 'kalevp', 'kanetkaryashwant', 'kautiyla',
       'konnikovamaria', 'lapierredominique', 'larssonsteig', 'legal',
       'machiavelli', 'mathematics', 'maughamwilliams', 'mauj',
       'mckinneywes', 'menonvp', 'misc', 'mit', 'mlodinowleonard',
       'mohanned', 'naipaulv', 'naipaulvs', 'nariman', 'nayarkuldip',
       'nehrujawaharlal', 'nisbetrobert', 'nonfiction', 'novel',
       'objectivism', 'oramandy', 'orient', 'orwellgeorge', 'palkhivala',
       'pan', 'pauschrandy', 'pearson', 'penguin', 'philosophy',
       'physics', 'picador', 'pirsigrobert', 'pocket', 'poeedgarallen',
       'poetry', 'politics', 'prattjohn', 'prentice', 'press',
       'psychology', 'randayn', 'random', 'ranjansudhanshu',
       'rashidmuhammad', 'raymonderic', 'reilly', 'routledge',
       'rowlingjk', 'rupa', 'russellbertrand', 'rutherfordalex',
       'sagancarl', 'saidedward', 'sassoonjean', 'schuster', 'science',
       'sebastiangutierrez', 'senamartya', 'shihfrank',
       'signalprocessing', 'silvernate', 'simon', 'singhsimon',
       'smithadam', 'sorabjee', 'springer', 'steinbeckjohn',
       'stonieralfred', 'stroudjonathan', 'sussmangerald',
       'tanenbaumandrew', 'taoterence', 'taubschilling', 'tech',
       'tharoorshashi', 'thomasjoy', 'tmh', 'transworld', 'trivia',
       'vapnikvladimir', 'various', 'vernejules', 'vikas',
       'villanicedric', 'vintage', 'vonnegutkurt', 'wellsh', 'wellshg',
       'westmorris', 'wiley', 'woodwardbob', 'zaidihussain',
       'zoharmichael'], dtype=object)

In [83]:
from sklearn.metrics.pairwise import cosine_similarity
similarity = cosine_similarity(vector)
print(similarity)

[[1.         0.5        0.25       ... 0.         0.         0.        ]
 [0.5        1.         0.25       ... 0.         0.         0.        ]
 [0.25       0.25       1.         ... 0.         0.         0.        ]
 ...
 [0.         0.         0.         ... 1.         0.66666667 0.66666667]
 [0.         0.         0.         ... 0.66666667 1.         0.66666667]
 [0.         0.         0.         ... 0.66666667 0.66666667 1.        ]]

In [84]:
def recommend(book):
    index = new_df[new_df['Title'] == book].index[0]
    distances = sorted(list(enumerate(similarity[index])),reverse=True,key = lambda x: x[1])
    for i in distances[1:6]:
        print(new_df.iloc[i[0]].Title)

In [88]:
recommend('Animal Farm')

World's Greatest Short Stories, The
Phantom of Manhattan, The
Selected Short Stories
Moon and Sixpence, The
Grapes of Wrath, The

In [91]:
pickle.dump(new_df,open('book_list.pkl','wb'))
pickle.dump(similarity,open('similarity.pkl','wb'))

In [90]:
import pickle